<header class="site-header">
    <div class="wholeheader">
       <div class="site-container">
           <div class="site-logo"><img src="assets/img/logo-white.png" alt="logo"></div>
           <div class="nav-header">
               <ul id="menu">
                   <!-- <li>Features</li>
                   <li>Blocks</li>
                   <li>FAQ</li> -->
                   <li>Home</li>
               </ul>
           </div>
   
       </div>
   
   
       <div class="site-header-search">
           <h2 class="site-header-title">How can we help?</h2>
           <div class="ht-container">
               <form action="" class="search-bar">
                   <div class="first">
                     <button type="submit">
                       <img src="assets/img/searchlens.jpg" alt="">
                     </button>
                   </div>  
   
                   <div class="second"> 
                    <input type="text" placeholder="Search the knowledge base..." name="q">
                   </div> 
                   
               </form>
           </div>
       </div>
       
       <div class="ht-page">
           <div class="page-content">
               <h2 class="content"></h2>
           </div>
       </div>
    </div>
   </header>
   
