<div class="main-div">
<div class="D-container">
  <div class="dashboard">
    <ul class="dashboard-list">
      <li class="dashboard-members">
        <div class="dashboard-content">
          <span><img src="./assets/img/Home-icon.png" alt="icon"></span>
          <span>Home</span>

        </div>
        <div class="dashboard-content">
          <span><img src="./assets/img/article-icon.jpg" alt="icon"></span>
          <span>Articles</span>
        </div>

        <div class="dashboard-content">
          <span><img src="./assets/img/resources-icon.jpg" alt="icon"></span>
          <span>Resources</span>
        </div>

        <div class="dashboard-content">
          <span><img src="./assets/img/quote-icon.png" alt="icon"></span>
          <span>Quotes</span>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="whole-div">




    <div class="big-div-texts">
 
      <span>
        <ul class="subheader-ul">
          <li class="subheader-li">
            Articles(10)
            <button (click)="showModal2()">Upload Content</button>
  
          </li>
        </ul>
      </span>
  
            
   
  
    </div>      
  
      <div class="big-div">

        <div class="small-div">
          <a href="#" (click)="showModal()">
            <img src="./assets/img/picone.jpg" alt="Image 1">
          </a>
          <p>Burning Out? Give Yourself Permission to Dial It Back</p>
          <div class="date-time">
            <span class="date">Posted on: March 13, 2023</span>
            <span><img src="./assets/img/editicon.png" alt="edit" class="editicon"></span>
          </div>
        </div>
       <!-- </div> -->
      
       <!-- Modal -->
       <div class="modal" [ngClass]="{'modal-open': showModalFlag}">
        <div class="modal-content">
          <span class="close" (click)="hideModal()">&times;</span>
          
        </div>
       </div>
      
       <div class="small-div">
        <a href="#" (click)="showModal()">
          <img src="./assets/img/pictwo.jpg" alt="Image 2">
        </a>
        <p>Managing Through Crunch Time Without Burning Out Your...</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
          <span><img src="./assets/img/editicon.png" alt="edit" class="editicon"></span>
        </div>
       </div>
       <!-- </div> -->
    
       <!-- Modal -->
       <div class="modal" [ngClass]="{'modal-open': showModalFlag}">
       <div class="modal-content">
        <span class="close" (click)="hideModal()">&times;</span>
        
       </div>
       </div>
      
  
       <!-- <div class="small-div">
        <a href=""><img src="./assets/img/pictwo.jpg" alt="Image 2"></a>
        <p>Managing Through Crunch Time Without Burning Out Your...</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
        </div>
       </div>
       -->
  
  
       <div class="small-div">
        <a href="#" (click)="showModal()">
          <img src="./assets/img/picthree.jpg" alt="Image 3">
        </a>
        <p>Rediscover Job at Work</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
          <span><img src="./assets/img/editicon.png" alt="edit" class="editicon"></span>
        </div>
       </div>
       <!-- </div> -->
    
       <!-- Modal -->
       <div class="modal" [ngClass]="{'modal-open': showModalFlag}">
       <div class="modal-content">
        <span class="close" (click)="hideModal()">&times;</span>
        
       </div>
       </div>
  
  
       <!-- <div class="small-div">
        <a href="popup"><img src="./assets/img/picthree.jpg" alt="Image 3"></a>
        <p>Rediscover Job at Work</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
        </div>
       </div> -->
  
  
       <div class="small-div">
        <a href="#" (click)="showModal()">
          <img src="./assets/img/picfour.jpg" alt="Image 4">
        </a>
        <p>The Right to Disconnect From Work</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
          <span><img src="./assets/img/editicon.png" alt="edit" class="editicon"></span>
        </div>
       </div>
       <!-- </div> -->
    
       <!-- Modal -->
       <div class="modal" [ngClass]="{'modal-open': showModalFlag}">
       <div class="modal-content">
        <span class="close" (click)="hideModal()">&times;</span>
        
       </div>
       </div>
  
       <!-- <div class="small-div">
        <a href="popup"><img src="./assets/img/picfour.jpg" alt="Image 4"></a>
        <p>The Right to Disconnect From Work</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
        </div>
       </div> -->
  
    </div>
  
    <div class="big-div-texts">

  
      <span>
        <ul class="subheader-ul">
          <li class="subheader-li">
            Resources(10)
            <button (click)="showModal()">Upload Content</button>
  
          </li>
        </ul>
      </span>
  
    
    </div>
    <div class="big-div">
  
  
      <div class="small-div">
        <a href="#" (click)="showModal()">
          <img src="./assets/img/picfive.jpg" alt="Image 5">
        </a>
        <p>Ways to Spark Creativity When You're Feeling Stressed</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
          <span><img src="./assets/img/editicon.png" alt="edit" class="editicon"></span>
        </div>
        
       </div>
       <!-- </div> -->
    
       <!-- Modal -->
       <div class="modal" [ngClass]="{'modal-open': showModalFlag}">
       <div class="modal-content">
        <span class="close" (click)="hideModal()">&times;</span>
        
       </div>
       </div>
  
  
       <!-- <div class="small-div">
        <a href="popup"><img src="./assets/img/picfive.jpg" alt="Image 5"></a>
        <p>Ways to Spark Creativity When You're Feeling Stressed</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
        </div>
       </div> -->
  
       <div class="small-div">
        <a href="#" (click)="showModal()">
          <img src="./assets/img/picsix.jpg" alt="Image 6">
        </a>
        <p>Managing Star Performers in High-Pressure Situations</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
          <span><img src="./assets/img/editicon.png" alt="edit" class="editicon"></span>
        </div>
       </div>
       <!-- </div> -->
    
       <!-- Modal -->
       <div class="modal" [ngClass]="{'modal-open': showModalFlag}">
       <div class="modal-content">
        <span class="close" (click)="hideModal()">&times;</span>
        
       </div>
       </div>
  
  
       <!-- <div class="small-div">
        <a href="popup"><img src="./assets/img/picsix.jpg" alt="Image 6"></a>
        <p>Managing Star Performers in High-Pressure Situations</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
        </div>
       </div> -->
  
  
       <div class="small-div">
        <a href="#" (click)="showModal()">
          <img src="./assets/img/picseven.jpg" alt="Image 7">
        </a>
        <p>Preparing For the Turnover</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
          <span><img src="./assets/img/editicon.png" alt="edit" class="editicon"></span>
        </div>
       </div>
       <!-- </div> -->
    
       <!-- Modal -->
       <div class="modal" [ngClass]="{'modal-open': showModalFlag}">
       <div class="modal-content">
        <span class="close" (click)="hideModal()">&times;</span>
       
       </div>
       </div>
  
       <!-- <div class="small-div">
        <a href="popup"><img src="./assets/img/picseven.jpg" alt="Image 7"></a>
        <p>Preparing For the Turnover</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
        </div>
       </div> -->
  
  
       <div class="small-div">
        <a href="#" (click)="showModal()">
          <img src="./assets/img/piceight.jpg" alt="Image 8">
        </a>
        <p>Quotes</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
          <span><img src="./assets/img/editicon.png" alt="edit" class="editicon"></span>
        </div>
       </div>
       <!-- </div> -->
    
       <!-- Modal -->
       <ng-template #contentArticle let-modal>
  
        <div class="modal-body">
          
        </div>
  
       </ng-template>
  
       <ng-template #contentAdd let-modal>
        <div class="modal-body">
          
        </div>
       </ng-template>
  
  
       <!-- <div class="small-div">
        <a href="popup"><img src="./assets/img/piceight.jpg" alt="Image 8"></a>
        <p>Quotes</p>
        <div class="date-time">
          <span class="date">Posted on: March 13, 2023</span>
        </div>
       </div>   -->
  
  
      
      
    </div>

  </div>
